/* Modal */
.login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .login-box {
    margin: 10% auto;
    width: 400px;
    background: #fff;
    color: #333;
    position: relative;
    animation: modalopen 1s;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .login-body {
    padding: 50px;
  }
  
  .login-body h3 {
    font-weight: bold;
  }
  
  .login-body .btn {
    width: 100%;
    margin-top: 30px;
  }
  
  .login .close {
    cursor: pointer;
    height: 23px;
    width: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .login .login-footer {
    background: #f7f7f9;
    color: #333;
    padding: 20px 0;
    border-top: #eee 1px solid;
    text-align: center;
  }
  
  .login .login-footer a {
    color: steelblue;
  }


  
  @media (max-width: 675px) {  
    .login .login-box {
      width: 350px;
    }
  }